In [1]:
import pandas as pd
from functions import rolling_calculator

In [24]:
svm_df = pd.read_csv("data/cleaned_merged_seasons.csv")

/var/folders/9_/fcykl83s1dncqz69y6vx8b6w0000gn/T/ipykernel_49916/519723715.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  svm_df = pd.read_csv("data/cleaned_merged_seasons.csv")

In [5]:
to_drop = ['team_a_score','team_h_score', 'was_home', "round",
            "opponent_team", "kickoff_time", "fixture", "position", "element", "creativity", "influence", "threat", "bonus"
            , "transfers_in", "transfers_out"]

In [6]:
df_stats_only = svm_df.drop(columns=to_drop)

In [7]:
df_test = df_stats_only[df_stats_only["name"] == "Cole Palmer"]

In [15]:
df_test

,season_x,name,team_x,assists,bps,clean_sheets,goals_conceded,goals_scored,ict_index,minutes,...,penalties_missed,penalties_saved,red_cards,saves,selected,total_points,transfers_balance,value,yellow_cards,GW
21100,2020-21,Cole Palmer,Man City,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,45,0,3
21656,2020-21,Cole Palmer,Man City,0,0,0,0,0,0.0,0,...,0,0,0,0,416,0,201,45,0,4
22222,2020-21,Cole Palmer,Man City,0,0,0,0,0,0.0,0,...,0,0,0,0,642,0,56,45,0,5
22869,2020-21,Cole Palmer,Man City,0,0,0,0,0,0.0,0,...,0,0,0,0,792,0,38,45,0,6
23459,2020-21,Cole Palmer,Man City,0,0,0,0,0,0.0,0,...,0,0,0,0,855,0,-9,45,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123037,2023-24,Cole Palmer,Chelsea,1,12,1,0,0,6.0,90,...,0,0,0,0,5270983,6,134709,62,0,35
123919,2023-24,Cole Palmer,Chelsea,0,44,1,0,1,13.2,88,...,0,0,0,0,5366996,8,88581,62,0,36
124997,2023-24,Cole Palmer,Chelsea,1,28,0,2,0,11.9,90,...,0,0,0,0,5537713,6,150092,63,0,37
124998,2023-24,Cole Palmer,Chelsea,0,30,0,1,1,11.5,90,...,0,0,0,0,5537713,8,150092,63,0,37
125915,2023-24,Cole Palmer,Chelsea,1,23,0,1,0,10.3,88,...,0,0,0,0,5600473,6,63100,63,0,38

In [10]:
df_rolled, stats_col = rolling_calculator(df_test, 3)

In [11]:
df_rolled = df_rolled.drop(columns=stats_col)

In [14]:
df_rolled.sort_index()

,season_x,name,team_x,opp_team_name,GW,assists_last_3_games,bps_last_3_games,clean_sheets_last_3_games,goals_conceded_last_3_games,goals_scored_last_3_games,...,own_goals_last_3_games,penalties_missed_last_3_games,penalties_saved_last_3_games,red_cards_last_3_games,saves_last_3_games,selected_last_3_games,total_points_last_3_games,transfers_balance_last_3_games,value_last_3_games,yellow_cards_last_3_games
21100,2020-21,Cole Palmer,Man City,Leicester,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,35702.0,0.0,2036.0,140.0,0.0
21656,2020-21,Cole Palmer,Man City,Leeds,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,30233.0,0.0,-6643.0,140.0,0.0
22222,2020-21,Cole Palmer,Man City,Arsenal,5,0.0,11.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,28871.0,2.0,-2824.0,139.0,0.0
22869,2020-21,Cole Palmer,Man City,West Ham,6,0.0,10.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33682.0,2.0,2982.0,139.0,0.0
23459,2020-21,Cole Palmer,Man City,Sheffield Utd,7,0.0,5.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33821.0,1.0,-598.0,138.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123037,2023-24,Cole Palmer,Chelsea,Spurs,35,1.0,19.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10552377.0,8.0,269443.0,166.0,0.0
123919,2023-24,Cole Palmer,Chelsea,West Ham,36,0.0,44.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,5383052.0,8.0,88588.0,149.0,0.0
124997,2023-24,Cole Palmer,Chelsea,Nott'm Forest,37,2.0,57.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5558675.0,13.0,150134.0,147.0,0.0
124998,2023-24,Cole Palmer,Chelsea,Brighton,37,1.0,61.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,11085907.0,15.0,300205.0,168.0,0.0
125915,2023-24,Cole Palmer,Chelsea,Bournemouth,38,1.0,34.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5623539.0,8.0,69167.0,150.0,0.0

In [19]:
svm_df["opponent_team"].value_counts()

opponent_team
5     6344
19    6341
14    6338
15    6329
12    6316
3     6315
17    6309
9     6307
6     6307
8     6306
2     6305
7     6297
13    6290
1     6287
11    6286
20    6284
18    6283
4     6282
16    6278
10    6272
Name: count, dtype: int64

In [43]:
svm_df.groupby(['season_x', 'GW', 'opponent_team']).first().reset_index()


#need to change this, don't want the sum I want the team stats

,season_x,GW,opponent_team,team_x,assists,bonus,bps,clean_sheets,creativity,element,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,2020-21,1,1,Fulham,0,0,-2,0,1.8,190,...,3.0,0.0,5.0,2,0,0,0,50,True,0
1,2020-21,1,3,Chelsea,0,0,14,0,0.7,116,...,3.0,1.0,2.0,2,0,0,0,50,False,0
2,2020-21,1,5,Brighton,0,0,-3,0,0.3,78,...,3.0,1.0,32.0,1,0,0,0,55,True,0
3,2020-21,1,6,Southampton,0,0,17,0,0.0,363,...,0.0,1.0,0.0,2,0,0,0,45,False,0
4,2020-21,1,7,Spurs,0,0,3,0,11.9,394,...,1.0,0.0,21.0,1,0,0,0,80,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2865,2023-24,38,16,Burnley,0,0,0,0,0.0,169,...,2.0,1.0,0.0,0,-210,0,210,39,True,0
2866,2023-24,38,17,Spurs,0,0,0,0,0.0,491,...,3.0,0.0,0.0,0,-50,167,217,39,False,0
2867,2023-24,38,18,Sheffield Utd,0,0,0,0,0.0,653,...,3.0,0.0,0.0,0,-68,0,68,39,True,0
2868,2023-24,38,19,Man City,0,0,0,0,0.0,354,...,1.0,3.0,0.0,0,-1109,1376,2485,72,True,0
2869,2023-24,38,20,Liverpool,0,0,2,0,11.9,300,...,0.0,2.0,2.0,1,-19,154,173,49,True,0

In [30]:
svm_df = svm_df.drop(columns=["name", "position"])

In [36]:
svm_df = svm_df[~svm_df['season_x'].isin(['2016-17', '2017-18'])]

In [37]:
svm_df.iloc[0]

season_x                          2020-21
team_x                           Brighton
assists                                 0
bonus                                   0
bps                                    -3
clean_sheets                            0
creativity                            0.3
element                                78
fixture                                 7
goals_conceded                          2
goals_scored                            0
ict_index                             3.4
influence                             1.2
kickoff_time         2020-09-14T19:15:00Z
minutes                                45
opponent_team                           5
opp_team_name                     Chelsea
own_goals                               0
penalties_missed                        0
penalties_saved                         0
red_cards                               0
round                                   1
saves                                   0
selected                            32205
team_a_score                          3.0
team_h_score                          1.0
threat                               32.0
total_points                            1
transfers_balance                       0
transfers_in                            0
transfers_out                           0
value                                  55
was_home                             True
yellow_cards                            0
GW                                      1
Name: 20034, dtype: object

In [38]:
svm_df

,season_x,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
20034,2020-21,Brighton,0,0,-3,0,0.3,78,7,2,...,1.0,32.0,1,0,0,0,55,True,0,1
20035,2020-21,West Ham,0,0,11,0,11.2,435,6,2,...,0.0,0.0,1,0,0,0,50,True,0,1
20036,2020-21,Brighton,0,0,0,0,0.0,60,7,0,...,1.0,0.0,0,0,0,0,50,True,0,1
20037,2020-21,Sheffield Utd,0,0,12,0,0.0,483,8,2,...,0.0,0.0,1,0,0,0,50,True,0,1
20038,2020-21,Everton,0,0,20,1,44.6,512,4,0,...,0.0,4.0,3,0,0,0,55,False,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126071,2023-24,Man City,0,0,15,0,11.6,369,379,1,...,3.0,0.0,2,-3560,44071,47631,55,True,0,38
126072,2023-24,Luton,0,0,0,0,0.0,631,378,0,...,2.0,0.0,0,86,216,130,49,True,0,38
126073,2023-24,Crystal Palace,0,0,0,0,0.0,227,376,0,...,5.0,0.0,0,-120,0,120,44,True,0,38
126074,2023-24,Nott'm Forest,0,0,0,0,0.0,459,374,0,...,1.0,0.0,0,-1,0,1,45,False,0,38
126075,2023-24,Brentford,0,0,0,0,0.0,93,372,0,...,2.0,0.0,0,-65,0,65,40,True,0,38

In [45]:
teams = pd.read_csv("data/game_scores.csv")

In [47]:
teams = teams[~teams['Season'].isin(["2000/01","2001/02", "2002/03","2003/04","2004/05","2005/06","2006/07","2007/08","2008/09"
,"2009/10","2010/11","2011/12","2012/13","2013/14","2014/15","2015/16"])]

In [49]:
teams.to_csv('data/game_scores.csv', index=False)

In [56]:
# Create home team perspective
home_df = teams.copy()
home_df['Team'] = home_df['HomeTeam']
home_df['Opponent'] = home_df['AwayTeam']
home_df['IsHome'] = 1

# Rename columns for home team
home_df = home_df.rename(columns={
    'FullTimeHomeGoals': 'team_goals',
    'FullTimeAwayGoals': 'team_goals_allowed',
    'HomeShots': 'team_shots',
    'AwayShots': 'team_shots_allowed',
    'HomeShotsOnTarget': 'team_shots_on_target',
    'AwayShotsOnTarget': 'team_shots_on_target_allowed',
    'HomeCorners': 'team_corners',
    'AwayCorners': 'team_corners_allowed',
    'HomeFouls': 'team_fouls',
    'AwayFouls': 'team_fouls_allowed',
    'HomeYellowCards': 'team_yellow_cards',
    'AwayYellowCards': 'team_yellow_cards_allowed',
    'HomeRedCards': 'team_red_cards',
    'AwayRedCards': 'team_red_cards_allowed'
})

# Create away team perspective
away_df = teams.copy()
away_df['Team'] = away_df['AwayTeam']
away_df['Opponent'] = away_df['HomeTeam']
away_df['IsHome'] = 0

away_df = away_df.rename(columns={
    'FullTimeAwayGoals': 'team_goals',
    'FullTimeHomeGoals': 'team_goals_allowed',
    'AwayShots': 'team_shots',
    'HomeShots': 'team_shots_allowed',
    'AwayShotsOnTarget': 'team_shots_on_target',
    'HomeShotsOnTarget': 'team_shots_on_target_allowed',
    'AwayCorners': 'team_corners',
    'HomeCorners': 'team_corners_allowed',
    'AwayFouls': 'team_fouls',
    'HomeFouls': 'team_fouls_allowed',
    'AwayYellowCards': 'team_yellow_cards',
    'HomeYellowCards': 'team_yellow_cards_allowed',
    'AwayRedCards': 'team_red_cards',
    'HomeRedCards': 'team_red_cards_allowed'
})

# Create team_win column for both
home_df['team_win'] = (home_df['FullTimeResult'] == 'H').astype(int)
away_df['team_win'] = (away_df['FullTimeResult'] == 'A').astype(int)

# Select the columns you want to keep
cols_to_keep = ['Season', 'MatchDate', 'Team', 'Opponent', 'IsHome',
                'team_goals', 'team_goals_allowed', 'team_win',
                'team_shots', 'team_shots_allowed',
                'team_shots_on_target', 'team_shots_on_target_allowed',
                'team_corners', 'team_corners_allowed',
                'team_fouls', 'team_fouls_allowed',
                'team_yellow_cards', 'team_yellow_cards_allowed',
                'team_red_cards', 'team_red_cards_allowed']

# Combine both perspectives
team_df = pd.concat([home_df[cols_to_keep], away_df[cols_to_keep]], ignore_index=True)

# Sort by date
team_df = team_df.sort_values(['Season', 'MatchDate']).reset_index(drop=True)

In [58]:
team_df.to_csv('data/game_scores.csv', index=False)

In [59]:
teams = pd.read_csv("data/game_scores.csv")

In [60]:
teams

,Season,MatchDate,Team,Opponent,IsHome,team_goals,team_goals_allowed,team_win,team_shots,team_shots_allowed,team_shots_on_target,team_shots_on_target_allowed,team_corners,team_corners_allowed,team_fouls,team_fouls_allowed,team_yellow_cards,team_yellow_cards_allowed,team_red_cards,team_red_cards_allowed
0,2016/17,2016-08-13,Burnley,Swansea,1,0,1,0,10,17,3,9,7,4,10,14,3,2,0,0
1,2016/17,2016-08-13,Crystal Palace,West Brom,1,0,1,0,14,13,4,3,3,6,12,15,2,2,0,0
2,2016/17,2016-08-13,Everton,Tottenham,1,1,1,0,12,13,6,4,5,6,10,14,0,0,0,0
3,2016/17,2016-08-13,Hull,Leicester,1,2,1,1,14,18,5,5,5,3,8,17,2,2,0,0
4,2016/17,2016-08-13,Man City,Sunderland,1,2,1,1,16,7,4,3,9,6,11,14,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6775,2024/25,2025-05-04,Newcastle,Brighton,0,1,1,0,13,5,5,2,4,1,10,15,1,2,0,0
6776,2024/25,2025-05-04,Tottenham,West Ham,0,1,1,0,7,11,2,2,3,1,15,18,2,2,0,0
6777,2024/25,2025-05-04,Liverpool,Chelsea,0,1,3,0,11,17,2,7,6,3,11,10,2,2,0,0
6778,2024/25,2025-05-05,Crystal Palace,Nott'm Forest,1,1,1,0,20,12,3,4,7,4,9,15,3,8,0,0
6779,2024/25,2025-05-05,Nott'm Forest,Crystal Palace,0,1,1,0,12,20,4,3,4,7,15,9,8,3,0,0